.content {
  // margin-top: 4rem;
  // margin-left: 18rem;
  transition: .5s;
}
.sb-collapse {
  margin-top: 4rem;
  margin-left: 4.5rem;
}
.sb-not-collapse {
  margin-top: 4rem;
  margin-left: 18rem;
}


.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
